* {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: palevioletred;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Modak", cursive;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  border: 5px white solid;
  padding: 20px;
  margin: 10px;
}

main {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

button {
  padding: 0px 20px;
  font-size: 18px;
  margin: 15px;
}

nav {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.white-text {
  color: white;
}

.yellow-text {
  color: rgb(253, 192, 47);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.padded {
  padding: 20px;
}
