* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3498db;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  max-width: 30%;
  border: 10px white solid;
}

h1 {
  font-size: 100px;
  padding: 30px;
  margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Modak", cursive;
  font-weight: 100;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
