body {
  margin: 0 auto;
  /* padding: 0 20px; */
  /* display: flex; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: palevioletred;
  /* flex-direction: column; */
}

.padded {
  padding: 20px;
}

h1 {
  font-family: "Modak", cursive;
  font-weight: normal;
  text-align: center;
  font-size: 100px;
}

nav {
  margin: 0 auto;
  text-align: center;
  /* align-content: center;
  align-items: center; */
}

a {
  color: white;
  text-decoration: none;
}
